html {
    background-color: rgb(222, 147, 183);
}

h1 {
    text-align: center;
    color: white;
    display: block;
    margin-top: 200px;
}

h2 {
    text-align: center;
    color: white;
    margin-top: -20px;

}

#textILove {
    color: rgb(198, 3, 3);
}
